.FilterCheckbox {
  list-style-type: none;
  margin-bottom: 10px;
  padding: 10px;
}

.FilterCheckbox:last-of-type {
  margin: 0px;
}

.FilterCheckboxLabel {
  margin-right: 10px;
}

.FilterCheckboxInput {
  float: right;
}