.Header {
  color: #ffffff;
  background-color: #03363D;
  margin-bottom: 20px;
  padding: 10px 0px;
}

.HeaderTitle {
  font-family: 'Muli', sans-serif;
  font-weight: bold;
}

.HeaderSocietyTitle {
  color: #78A300;
  
}