.RegionButton {
  width: 100%;
  padding: 20px 0px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 24px;
  background: #eaeaea;
  margin-bottom: 20px;
  border: none;
  outline: none;
  text-align: left;
  border-radius: 3px;
}